<div class="nav">
    <a href="/">
        <div class="nav__brand">
            <img class="nav__brand--img" src="{{ '/assets/image/logo.png' }}" alt="logo"> 
            {{ site.username | escape }}
        </div>
    </a>
    
    <ul class="nav_list">
        <a href="/category/deeplearning"><li class="item">Deep Learning</li></a>
        <a href="/category/web"><li class="item">Web</li></a>
        <a href="/category/server"><li class="item">Server</li></a>
        <a href="/category/logs"><li class="item">Logs</li></a>
        <a href="https://github.com/j911/resume" target="_blank"><li class="item">Resume</li></a>
        <a href="https://github.com/j911/" target="_blank"><li class="item">GitHub</li></a>
    </ul>
</div>

