---
layout: default
---

<div class="post-wrapper post--main">
    <div class="card">
        <div class="card__cover" style="background-image: url('{{ page.cover }}');"></div>
        <div class="card__contents">
            <div class="card__contents__tag">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                Deep Learning | {{ page.date | date: date_format }}
            </div>
            <div class="card__contents__title">
                {{ page.title | escape }} 
            </div>
            <div class="card__contents__body">
                {{ page.excerpt }}
            </div>
        </div>
    </div>
    
    <div class="post--contents">
        {{ content }}
    
        {%- include adsense.html -%}

        {% if page.comments %}
            {%- include comments.html -%}
        {% endif %}
    </div>
</div>



<script id="dsq-count-scr" src="//jeiguililyi-gaebal-beulrogeu.disqus.com/count.js" async></script>
